<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLZV_9ESWeLMzTvDjpkcVI0iMEojEs04Q</string>
	<key>GCM_SENDER_ID</key>
	<string>246958767826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NinjaWarriors.NinjaWarriors</string>
	<key>PROJECT_ID</key>
	<string>ninjaninjaninja-b4c5e</string>
	<key>STORAGE_BUCKET</key>
	<string>ninjaninjaninja-b4c5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246958767826:ios:addaed98dfcc859f1b770b</string>
	<key>DATABASE_URL</key>
	<string>https://ninjaninjaninja-b4c5e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>